.container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img {
    width:50px;
    height: 40px;
    border-radius: 10px;
}
.quantity {
    font-weight: bolder;
    font-size: 14px;
    width: 20px;
    height: 20px;
    padding: 0 0 0 0;
    border-radius: 6px;
    border-top: rgba(128, 128, 128,0);
    border-right: rgba(128, 128, 128,0);
}
.changed-product{
    font-size: 0.75rem;
    letter-spacing: 0.9px;
    text-align: center;
    padding: 5px 2px;
    border: 1px solid rgb(0,0,0);
    background-color: rgba(128, 128, 128,0.4);
    color: rgb(16, 72, 7);
}
i{
    text-decoration:underline dashed 2px rgba(52, 121, 205,0.4);
}
.aside {
    padding: 10px 0;
    text-align: center;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,0.2);
    height: 100%;    
    margin-left: 5px;
    animation: aside-border 8s ease-in-out;
    animation-iteration-count: infinite;
}
h3 {
    margin-bottom:25px;
    text-shadow: -1px 2px rgba(176, 167, 43,0.4);
}
.basket-btn {
    padding: 4px 9px;
    font-weight: bolder;
}
.basket-btn-checkout {
    font-size: 0.8rem;
    font-weight: bolder;
}
.basket-btn-clear, .basket-btn-return {
    font-size: 0.66rem;
    font-family: 'Kristen ITC';
    letter-spacing: 0.02rem;
}

@keyframes aside-border {
    0% {
        border-radius: 25px;
    }

    25% {
        border-radius: 20px;
    }

    50% {
        border-radius: 0px;
    }
    80% {
        border-radius: 0px;
    }
    100% {
        border-radius: 25px;
    }
}
