.customer-order-navbar-block-small-device {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding-bottom: 10px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: none;
}
.customer-order-navbar-small-device > h6{
    margin: 12px 0;
}
.customer-order-navbar-block-sm > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.7rem;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 0.02777rem;
}
.customer-order-navbar-list-sm {
    font-size: 0.47rem;
    margin-left: 15px;
    padding-top: 3px;
    list-style: square;
    cursor: pointer;
    color: rgb(68, 189, 243);
}

@media screen and (max-width: 1300px) {
    .customer-order-navbar-block-small-device {
        display: block;
    }
}