html {
  font-size: 14px;
}
.disabled{
    display: none;
}
.card-cart-btn {
    font-size: 0.6rem;
    padding: 4px 6px;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}