**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/angular/cache*
**/sass-cache*
**/node_modules*
**/npm-debug.log*
**/dist*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md*