<div class="row">
    <div class="col-md-9 submit-item-btn-block">
        <button type="submit" class="btn btn-outline-light">Submit</button>
    </div>
    <div class="col-md-2 offset-md-1 cancel-item-btn-block">
        <a asp-controller="Catalog" asp-action="Index" asp-route-page="0" type="submit" class="btn btn-danger" name="cancel" value="cancel">Cancel</a>
    </div>
</div>