@model AddNewProductVM


<div class="container">
    <div class="catalog-form-heading-block">
        <h2>Add New Item</h2>
    </div>   
    <div class="form-block">

        <partial name="_AddNewProduct" model="@Model" ></partial>
    </div>
</div>

<link href="~/css/catalog_form.css" rel="stylesheet" />
<link href="~/css/update_image.css" rel="stylesheet" />