<section class="order-navbar-links-block">
    <div class="order-link-block">
        <h6 id="account-settings-link-title" class="orders-link-title orders-link-title-opened"><span>&#10037;</span> Account Settings</h6>
        <div id="account-settings-link-block" class="order-link-list-block order-link-list-block-opened">
            <a>Personal Information</a>

            <a>Order Address</a>
        </div>
    </div>
    <hr />
    <div class="order-link-block">
        <h6 id="order-link-title" class="orders-link-title orders-link-title-closed"><span>&#10037;</span> Your Orders</h6>
        <div id="order-link-block" class="order-link-list-block order-link-list-block-closed">
            <a>Order Summary</a>

            <a>All Order Products</a>

            <a>Overall Analysis</a>
        </div>
    </div>
    <hr />
    <div class="order-link-block">
        <h6 id="coupon-link-title" class="orders-link-title orders-link-title-closed"><span>&#10037;</span> Coupon</h6>
        <div id="coupon-link-block" class="order-link-list-block order-link-list-block-closed">
            <a>Coupon</a>
        </div>
    </div>
    <hr />
    <div class="order-link-block">
        <h6 id="order-history-link-title" class="orders-link-title orders-link-title-closed"><span>&#10037;</span> Order History</h6>
        <div id="order-history-link-block" class="order-link-list-block order-link-list-block-closed">
            <a>Order History</a>
        </div>
    </div>
</section>