<section class="col-md-10 col-sm-12 customer-order-navbar-block-small-device">
    <div class="customer-order-navbar-small-device">
        <h6>Informations</h6>
        <div class="row">
            <div class="col-md-3 customer-order-navbar-block-sm customer-order-navbar-sm-account-settings-block">
                <ul>
                    Account Settings
                    <li class="customer-order-navbar-list-sm">
                        <a>Personal Information</a>
                    </li>
                    <li class="customer-order-navbar-list-sm">
                        <a>Order Address</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 customer-order-navbar-block-sm customer-order-navbar-sm-your-orders-block">
                <ul>
                    Your Orders
                    <li class="customer-order-navbar-list-sm">
                        <a>Order Summary</a>
                    </li>
                    <li class="customer-order-navbar-list-sm">
                        <a>All Order Products</a>
                    </li>
                    <li class="customer-order-navbar-list-sm">
                        <a>Overall Analysis</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 customer-order-navbar-block-sm customer-order-navbar-sm-coupon-block">
                <ul>
                    Coupon
                    <li class="customer-order-navbar-list-sm">
                        <a>Coupon</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 customer-order-navbar-block-sm customer-order-navbar-sm-order-history-block">
                <ul>
                    Order History
                    <li class="customer-order-navbar-list-sm">
                        <a>Order History</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

