<main>
    <div class="row">
        <partial name="_OrderNavbarPartial"></partial>

        <partial name="_OrderNavbarSmallerDevicePartial"></partial>
        <section class="col-md-10 col-sm-12 customer-order-history-block">
            <section class="customer-order-history-messages">
                <h2 id="order-history-heading">Order History</h2>
                <br />
                <hr />
                <br />
                <h5 class="text-center text-danger">It's Not Done Yet</h5>
            </section>

        </section>
    </div>
</main>

<link href="~/css/order_navbar.css" rel="stylesheet" />
<link href="~/css/order_navbar_small_device.css" rel="stylesheet" />
<script src="~/js/order_navbar.js"></script>